@import "tailwindcss";

@font-face {
  font-family: 'playwrite';
  src: url('/fuente/PlaywriteDEGrund-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  cursor: url("/public/cursor-neutral.png") 16 16, auto;
}
a, button, input, label, textarea {
  cursor: url("/public/cursor-select.png") 16 16, pointer;
}
.btn-off {
  opacity: 0.8;
  filter: brightness(0.7);
  pointer-events: none;
}
.food-active {
  scale: 1.1;
}
.food-active > .work-food {
  filter: drop-shadow(0px 0px 4px #e9dbe9);
}
.work-food {
  filter: drop-shadow(0px 5px 2px #00000033);
}
@layer components {
  .contact-redes {
    @apply overflow-hidden rounded-md hover:scale-[1.1];
  }
}

@theme {
  /* fuente */
  --font-playwrite: "playwrite", sans-serif;

  /* Paleta de colores */
  --color-rouse: #d797aa;
  --color-violet: #d8b3cf;
  --color-lightviole: #e9dbe9;
  --color-gray: #a8a2b4;
  --color-white: #fff;
}